.container__articles {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 60px;
}

.small-card-home{
  margin: 10px;
}
